script(type='text/template', id='signin-template')
  h1 Sign In To #{appName}. Doooo it. Do it!

  p What?! You aren't a member? 
    a(href='javascript://', id='show-signup-template') Well you should be!

  #signin-form
    | Email
    br
    input(type='text', name='user[email]', class='email')
    br
    | Password
    br
    input(type='password', name='user[password]', class='password')
    p
    input(type='submit', name='submit', id='signin')

script(type='text/template', id='signup-template')
  h1 Sign Up For #{appName}. Do It! Do it Now!
  
  p What?! You're already a member? 
    a(href='javascript://', id='show-signin-template') Why didn't you say so?

  #signup-form
    | Email
    br
    input(type='text', name='user[email]', class='email')
    br
    | Username
    br
    input(type='text', name='user[username]', class='username')
    br
    | Password
    br
    input(type='password', name='user[password]', class='password')
    p
    input(type='submit', name='submit', id='signup')

script(type='text/template', id='index-template')
  h1 #{appName}!
  p Welcome!

  a(href='javascript://', id='logout') Click here to logout
  
script(type='text/template', id='notification-template')
  .notification(class='{{type}}')
    span.type {{type}}! 
    span.message {{message}}