#app-view
  p Welcome to Coffee Pot!

#signin-view.signedout-view
  h1 Sign In
  #signin-form
    | Email
    br
    input(type='text', name='email')
    br
    | Password
    br
    input(type='password', name='password')
    p
    button.minimal#signin Sign In

#signup-view.signedout-view
  h1 Sign Up
  #signup-form
    | Email
    br
    input(type='text', name='email')
    br
    | Username
    br
    input(type='text', name='username')
    br
    | Password
    br
    input(type='password', name='password')
    p
    button.minimal#signup Sign Up