!!! 5
html
  head
    title= appName
    link(rel='stylesheet', href='/css/style.css')
  body
    .notifications
      !{flashMessages}
    != body
  script(type='text/javascript', src='http://code.jquery.com/jquery-1.6.3.min.js')
  - if( scripts != null && scripts.length > 0 ) 
    - each script in scripts 
      script(type='text/javascript', src='/js/' + script)