!!! 5
html
  head
    title= appName
    link(rel='stylesheet', href='/css/style.css')
  body
    .notifications
    #content
    != body
  script(type='text/javascript', src='http://code.jquery.com/jquery-1.6.3.min.js')
  script(type='text/javascript', src='/js/underscore-1.1.7.min.js')
  script(type='text/javascript', src='/js/spa.js')