!!! 5
html
  head
    title= appName
    link(rel='stylesheet', href='/css/style.css')
  body
    header
      #logo
        h1 #{appName}
      #nav.signed-out-view
        button Sign In      
        button Sign Up
      #nav.signed-in-view
        button Sign Out
    .clear
    #content
      .notifications
      .clear
      != body
    .clear
    footer
      | This is a footer!
  script(type='text/javascript', src='http://code.jquery.com/jquery-1.6.3.min.js')
  script(type='text/javascript', src='/js/underscore-1.1.7.min.js')
  script(type='text/javascript', src='/js/backbone-0.5.3.min.js')
  script(type='text/javascript', src='/js/index.js')
  
    