!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    !{flashMessages}
    .notifications
    != body
  script(type='text/javascript', src='http://code.jquery.com/jquery-latest.js')
  - if( scripts != null && scripts.length > 0 ) 
    - each script in scripts 
      script(type='text/javascript', src='/js/' + script)