form(method='POST', action='/signup')
  input(type='text', name='user[email]', id='email', placeholder='Email')
  br
  input(type='text', name='user[username]', id='username', placeholder='Username')
  br
  input(type='password', name='user[password]', id='password', placeholder='Password')
  br
  input(type='submit', name='submit', id='signup-button', value='Sign Up')