body
  padding 50px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

li
  list-style-type none
  
a
  color #00B7FF
  text-decoration none
  
a:hover
  text-decoration none
  
.Error
  color #FF0000

.Success
  color #00FF00