// Reset
// ... It's blank, fill this in

/********************
  Base
 ********************/
html
body
  font-family 'Lucida Grande', Helvetica, sans-serif
  margin 0
  padding 0

li
  list-style-type none
  font-size 19px

ul
  margin-left 0
  padding-left 0

a, a:hover, a:visited, a:link
  color #000
  text-decoration none

input[type=text], input[type=password], textarea
  padding 9px
  border solid 1px #E5E5E5
  font normal 13px/100% Verdana, Tahoma, sans-serif
  outline 0
  width 200px
  background #FFFFFF

textarea
  width 350px
  max-width 350px
  height 50px
  line-height 100%

input[type=text]:hover, input[type=password]:hover, textarea:hover, input[type=text]:focus, input[type=password]:focus, textarea:focus
  border-color #C9C9C9

/********************
 Header
*********************/
header
  height 50px
  width 100%
  background-color #333
  padding-left 5px
  #logo
    padding-top 10px
    float left
    margin-top -7px
    a
      color #FEFEFE
      margin-left 4px
  #menu
    padding-top 13px
    padding-right 10px
    float right
    button
      margin-left 10px
      
/********************
 Application
*********************/

#content
  padding 10px
      
/********************
 Footer
*********************/

/********************
 Notifications
*********************/

.error
  color #EE0000

.success
  color #00EE00

// Util
.clear
  clear both

.hide
  display none
  
.invisible
  visibility hidden