/* Variables
------------------------------------- */
button-background-color = #447BD4

/* HTML, BODY
------------------------------------- */
html
  font-size 100%
  overflow-y scroll
  -webkit-text-size-adjust 100%
  -ms-text-size-adjust 100%
  background-color #FEFEFE
  
body
  margin: 0
  line-height: 1.231
  margin-left 5px

body, button, input, select, textarea
  font 16px "Lucida Grande", Helvetica, sans-serif
  
/* Header
-------------------------------------- */
header
  #nav
    float right
    a:visited, a:hover, a
      color #FEFEFE
    button
      cursor pointer
  #logo
    h1
      margin 0
      padding 0
    float left

/* Footer
-------------------------------------- */
footer
  position fixed
  bottom 0
  left 0
  color #FEFEFE
  padding-top 10px
  width 100%
  text-align center
  background-color button-background-color

/* Forms
-------------------------------------- */
#signin-view, #signup-view
  width 275px

input[type='text'], input[type='password'], textarea
  border-radius 3px
  border 1px solid #777
  width 250px
  padding 10px
  margin-top 5px
  margin-bottom 5px
  -moz-box-shadow inset 0 0 2px #777
  -webkit-box-shadow inset 0 0 2px #777
  box-shadow inset 0 0 2px #777

button, input[type='submit']
  border-radius 3px
  background-color button-background-color
  border 1px solid button-background-color
  color #FFF
  padding 10px
  cursor pointer
  
#signin
  float right
  
#signup
  float right

/* Links
-------------------------------------- */

a
  color #00F
  text-decoration none
a:visited
  color #551a8b
a:hover
  color #06e
a:focus
  outline thin dotted

a:hover, a:active
  outline 0

/* Lists
-------------------------------------- */
li
  list-style-type none

ul
  margin-left 0
  padding-left 0

/* Notifications
----------------------------------------- */
.Error
  color #FF0000

.Success
  color #00FF00
  
/* CSS Oddities
----------------------------------------- */
.clear
  clear both